/* Compass */
@import "compass";
@import "compass/css3/flexbox";


/* Bootstrap */
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap";
/* Font-Awesome */
$fa-font-path: "../bower_components/font-awesome/fonts";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/font-awesome/scss/font-awesome";


/* Global Dependencies */

@import "global/variables";
@import "global/phonegap";
@import "global/social";
@import "global/typo";

/* Patterns */
@import "patterns/_buttons";
@import "patterns/post";
@import "patterns/comment";
@import "patterns/forms";

/* Sections */
@import "sections/header";
@import "sections/footer";
@import "sections/timeline";
@import "sections/map";
@import "sections/postActions";
@import "sections/user";
@import "sections/search";

/* Shame */
@import "global/shame";

.container {
  max-width: 600px;
}