[submodule "app/vendor/pp-sync"]
	path = app/vendor/pp-sync
	url = https://github.com/PhilReinking/pp-sync.git
[submodule "submodules/ppnet-proxy"]
	path = submodules/ppnet-proxy
	url = https://github.com/pixelpark/ppnet-proxy.git
