.map-content {
	.map {
		width: 100%;
		height: 1000px;
    z-index:1;
	}
}
.leaflet-popup-content {
  word-break:break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap; 
  
  
  & h4 {
    margin:0 !important;
    color:$secondary;
    
    & a {
      text-decoration:none;
      color:inherit;
      font-weight:700;
      
      &:hover {
        text-decoration:underline;
        color:$secondary;
      }
    }
  }
  
  & div {
    text-align:center;
    & img {
      max-width: 280px;
      margin:0 0 4px 0;
    }
  }
	
}
.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}
.leaflet-control-locate a {
	background-image: url(../images/locate.png);
	background-size: 90px 30px;
	background-position: -2px -2px;
}
.leaflet-retina .leaflet-control-locate a {
	background-image: url(../images/locate@2x.png);
}
.leaflet-touch .leaflet-control-locate a {
	background-image: url(../images/locate_touch.png);
}
.leaflet-control-locate.requesting a {
	background-size: 12px 12px;
	background-image: url(../images/spinner.gif);
	background-position: 50% 50%;
}
.leaflet-retina .leaflet-control-locate.requesting a {
	background-image: url(../images/spinner@2x.gif);
}
.leaflet-control-locate.active a {
	background-position: -32px -2px;
}
.leaflet-control-locate.active.following a {
	background-position: -62px -2px;
}
.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}
.leaflet-control-locate {
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.leaflet-control-locate a {
	background-color: #fff;
	background-position: -3px, -2px;
}
.leaflet-control-locate.active a {
	background-position: -33px -2px;
}

.leaflet-container a.btn{
  color: #Ffffff;
}
