/* mashup view */
.mashup_wrapper .mashup_item {
  width: 94px;
  height: auto;
  cursor: pointer;
  transition: -webkit-transform 0.8s ease;
  padding: 3px;
}
.mashup_wrapper .mashup_item.highlight {
  width: 300px;
}
.mashup_wrapper .mashup_img,
.mashup_wrapper img {
  width: 100%;
  height: inherit;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #999;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.mashup-item {
  z-index: 2;
}

.isotope-hidden.mashup-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/