.search-box {
  @include display-flex;
  display: -ms-flexbox;
  @include border-top-radius($radius);
  border: 0px solid #ccc;
  //width: 100%;
  border-bottom: 0;
  //background: $bright;
  padding-left: 0px;
  //margin-left:15px;
  input {
    border: 0;
    margin-left:15px;
    //height: 80px;
    background: $bright;
    //padding: 15px 10px;
    @include box-shadow(none);

    &:focus,
    &:active {
      outline: 0;
      border: 0;
      @include box-shadow(none);
     }
  }
}

.search-submit {
  button {
    @include border-top-radius(0);
  }
}

.headline_box{
	margin-top:10px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    padding: 10px;
    position: relative;
}