.user-avatar {
  display: none;
  margin: 10px 0;
  text-align: center;
}

.user-name {
  color: $secondary;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

.user-description {
  display: none;
  line-height: 1.0;
  font-size: 17px;
  text-align: center;
}