<div class="app-header clearfix" connectivity="{connect: 'onConnect()', disconnect: 'onDisconnect()'}">
	<div class="logo">
		<a ui-sref="stream"  ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg">{{config.name}}</a>
	</div>
	<div class="pull-right"  access-level='accessLevels.user'>
        <a ui-sref="search"  ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg"><i class="fa fa-search"></i></a>
        <a ui-sref="stream"  ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg"><i class="fa fa-th-list"></i></a>
        <a ui-sref="map" ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg"><i class="fa fa-map-marker"></i></a>
        <a ui-sref="timeline"  ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg"><i class="fa fa-clock-o"></i></a>
        <a ui-sref="logout"  ui-sref-opts="{reload: true, notify: true}" class="btn btn-lg"><i class="fa fa-sign-out"></i></a>
	</div>
</div>
