<div class="col-xs-12 col-md-4" ng-class="(phonegap) ? 'phonegap' : 'nophonegap'" ng-show="user.isLogedIn()">
	<div class="ppnet-posting-actions" ng-show="postingPossible"></div>
	<div class="sidebar hidden-xs hidden-sm">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#/posting"><i class="fa fa-home"></i> Frontpage</a></li>
			<li><a href="#/view/timeline"><i class="fa fa-clock-o"></i> View - Timeline</a></li>
			<li><a href="#/view/map/50.880593/6.888141999999999/15"><i class="fa fa-globe"></i> View - Map</a></li>
			<li ng-show="user.isAdmin()"><a href="#/report" ><i class="fa fa-bolt"></i> Report</a></li>
			<li><a href="#/user/logout" ><i class="fa fa-sign-out"></i> Logout</a></li>
		</ul>
	</div>
</div>