<!-- LIKE & COMMENTS -->
<div class="post-meta">
    <a ng-show="post.doc.coords.latitude" class="btn btn-block btn-third" 
       ui-sref="map.search({lat:post.doc.coords.latitude, long:post.doc.coords.longitude, zoom:15})">
      <i class="fa fa-globe fa-custom"></i>
    </a>
    <button class="btn btn-block btn-third" ng-class="{isNotLiked : !isLiked(post.doc._id), isLiked : isLiked(post.doc._id)}" ng-click="like(post.doc._id)" ng-disabled="inProgress">
      <i class="fa fa-heart fa-custom"></i> {{likes[post.doc._id].length|| 0}}
    </button>
    <a class="btn btn-block btn-third" ui-sref="post({id: post.doc._id})"  ng-class="{isLiked : isCommented(post.doc._id), highlighted : post.doc.highlightComment}">
      <i class="fa fa-comment fa-custom"></i> {{comments[post.doc._id].length|| 0}}
    </a>
</div>