<!-- COMMENT -->
<div class="posting_comment" ng-show="comment_functions.showComments(posting.id)">
	<div class="single_comment" ng-repeat='comment in comments[posting.id] | orderBy: global_functions.orderByCreated'>
		<p>
			<span class="comment_author">{{comment.doc.user.name}}</span> <span class="comment_meta" data-livestamp="{{comment.doc.created/1000}}"></span>
			<p><ppnet-posting-format class="posting_msg" posting="comment"></ppnet-posting-format></p>
		</p>
		
		<span class="comment_meta comment_delete">
		<button class="btn btn-default btn-xs" ng-click="comment_functions.delete(comment)"
		ng-show="global_functions.isDeletable(comment, user.getId()) || user.admin"><i class="fa fa-times"></i></button>
		</span>
	</div>
</div>
<!-- /COMMENT -->