<!-- LIKE & COMMENTS -->
<div class="post-meta">
    <ul class="nav nav-pills nav-justified">
        <li ng-class="isTrending(likes[post.doc._id].length)">
            <button ng-class="{isNotLiked : !isLiked(post.doc._id), isLiked : isLiked(post.doc._id)}" ng-click="like(post.doc._id)" ng-disabled="inProgress">
                <i class="fa fa-heart fa-custom"></i> {{likes[post.doc._id].length|| 0}}
            </button>
        </li>
        <li ng-class="{highlighted : post.doc.highlightComment}">
            <a ui-sref="post({id: post.doc._id})"  ng-class="{isLiked : isCommented(post.doc._id)}">
                <i class="fa fa-comment fa-custom"></i> {{comments[post.doc._id].length|| 0}}
            </a>
        </li>
    </ul>
</div>