<section style="display: inline-block;">
  <button class="btn btn-default btn-xs like-button">
    {{comments[post.id].length}} <i class="fa fa-comment"></i>
  </button>
</section>

<!--
<section id="post-comments">
  <div class="comments" ng-repeat="comment in comments[post.id]">
    <div class="comment">
      <div class="commentator-name">{{comment.doc.user.name}}</div>
      <div class="comment-time">{{comment.doc.created}}</div>
      <p>{{comment.doc.msg}}</p>
    </div>
  </div>

  <ppnet-new-comment-form post-id="post.id"></ppnet-new-comment-form>
</section>
-->