<a ng-href="#/post/{{post.id}}">



  <div class="main-content" ng-click="expression">
    <div class="author">
      <img src="http://placehold.it/19x19"><a ng-href="#/user/{{post.doc.user.id}}">{{post.doc.user.name || 'Anonymous'}}</a>
      <span ng-show="!toggleTimeVar" ng-click="toggleTime()" class="post-time" am-time-ago="post.doc.created" ng-click="toggleTime(post.id)"></span>
      <ppnet-post-fulltime ng-show="toggleTimeVar" class="post-fulltime" ng-click="toggleTime()" time="post.doc.created"></ppnet-post-fulltime>
    </div>


    <!-- POST CONTENT -->
    <div class="post-content">
      <div class="post-image" ng-show="loadedImage">
        <a ng-href="#/post/{{post.id}}">
          <img ppnet-post-image crop="true" />
        </a>
      </div>
      <ppnet-post-formatted message="post.doc.msg"></ppnet-post-formatted>
    </div>
  </div>
</a>
