<div id="posting_actions" class="app_action_wrapper" ng-controller="PostingActionController">
	<div id="menu" class="posting_menu">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills nav-justified">
					<li ng-class="activeClass('post_status')"><a href="javascript:void(0)" ng-click="toggleAction('post_status')"><i class="fa fa-edit fa-lg"></i></a></li>
					<!--<li ng-class="activeClass('post_link')"><a href="javascript:void(0)" ng-click="toggleAction('post_link')"><i class="fa fa-link fa-lg"></i></a></li>-->
					<li ng-class="activeClass('post_image')"><a href="javascript:void(0)" ng-click="toggleAction('post_image')"><i class="fa fa-camera fa-lg"></i></a></li>
					<!--<li ng-class="activeClass('post_location')"><a href="javascript:void(0)" ng-click="toggleAction('post_location')"><i class="fa fa-location-arrow fa-lg"></i></a></li>-->
				</ul>
			</div>
		</div>
	</div>
	
	<div id="app_actions" class="app_actions" ng-show='current_action'>
		<div class="row">
			<div class="col-xs-12">
				<ng-switch on='current_action'>
					<!-- POST STATUS -->
					<div 
						class="app_action_widget post_status"
						ng-controller='PostingTextController'
						ng-switch-when='post_status'>
						<form>
							<div class="form-group">
								<label for="new-posting">Neuen Status posten</label>
								<textarea id="new-posting" class="form-control" rows="2" 
									placeholder="Wie geht es dir {{user.getName()}}?"
									ng-required></textarea>	
							</div>
							<div class="form-group">
								<button class="btn btn-block btn-info" ng-click="posting_functions.create()">Posten</button>	
							</div>
						</form>
					</div>
					
					<!-- TODO POST LINK -->
					<div 
						class="app_action_widget post_status"
						ng-controller='PostingTextController'
						ng-switch-when='post_link'>
						<form>
							<div class="form-group">
								<label for="new-posting">Neuen Link posten</label>
								<input id="new-link" class="form-control" rows="2" 
									placeholder="http://"
									ng-required>
							</div>
							<div class="form-group">
								<button class="btn btn-block btn-info" ng-click="posting_functions.create()">Posten</button>	
							</div>
						</form>
					</div>
					
					<!-- TODO POST IMAGE -->
					<div 
						class="app_action_widget post_status"
						ng-controller='PostingImageController'
						ng-switch-when='post_image'>
						<form>
							<div class="form-group">
								<label for="new-posting">Neues Bild posten</label>								
							</div>
							<div class="form-group">
								<button ng-show="phonegap" class="btn btn-info btn-block" ng-click="image_functions.imageTakeMobile()">Take a new one</button>
							</div>
							<div class="form-group">
								<button ng-show="phonegap" class="btn btn-info btn-block" ng-click="image_functions.imageSelectMobile()">Select</button>
							</div>
							<div class="form-group">
								<input 	ng-show="!phonegap"	ng-model="photo"  onchange="angular.element(this).scope().image_functions.imageSelectDesktop(this)" type="file" accept="image/*" />
							</div>
						</form>
					</div>
					
					<!-- TODO POST LOCATION -->
					<div 
						class="app_action_widget post_status"
						ng-controller='PostingTextController'
						ng-switch-when='post_location'>
						<form>
							<div class="form-group">
								<label for="new-posting">Aktuellen Standort posten</label>
								<textarea id="new-posting" class="form-control" rows="2" 
									placeholder="Wie geht es dir {{user.getName()}}?"
									ng-required></textarea>	
							</div>
							<div class="form-group">
								<button class="btn btn-block btn-info" ng-click="posting_functions.create()">Posten</button>	
							</div>
						</form>
					</div>
				</ng-switch>		
			</div>
		</div>
	</div>
</div>
