// Basisfarben
$black:               #000000;
$grey:                #7F7F7F;
$grey_dark:           #333333;
$grey_light:          #D9D9D9;
$brown:               #535035;
$white:               #FFFFFF;

// Auszeichnungsfarben
$green_light:         #97BF00;
$green:               #718F00;
$purple_light:        #ff0066;
$purple:              #BF004D;
$blue_light:          #0099FF;
$blue:                #0073be;
$yellow_light:        #FDBC03;
$yellow:              #BE8D02;


// Zuordnung
$design_color:        $purple;

$color_headline:      $purple;
$color_text:          $grey_dark;
$color_hashtag:       $blue_light;
$color_link:          $grey_light; // <- FALSCH
$color_info:          $grey;
$primary_background:  $white;