<div class="ppnet-posting-actions"></div>



<section class="postings clearfix"
	ng-controller='PostingController'
	ng-init='global_functions.showWall()'>

	<h3 ng-hide='postings' style="text-align: center; margin: 8px 0;"><i class="fa fa-refresh fa-spin"></i></h3>

	<!-- OUTPUT -->
	<div class="posting col-xs-12" ng-repeat='posting in postings | orderBy: global_functions.orderByCreated: reverse=true'>

		<div class="posting_name">{{posting.doc.user.name}}</div>
		
		<pre ng-show="user.admin">{{likes[posting.id]}}</pre>
		
		
		<div class="posting_msg" postingformat="posting"></div>
		
		
		
		<!-- COMMENT -->
		<div class="posting_comment">
			<div class="single_comment" ng-repeat='comment in comments[posting.id] | orderBy: global_functions.orderByCreated: reverse=true'>
				<p>
					<span class="comment_author">{{comment.doc.user.name}}</span>
					{{comment.doc.msg}}
				</p>
				<span class="comment_meta" data-livestamp="{{comment.doc.created/1000}}"></span>
				<span class="comment_meta">
					<button class="btn btn-link" ng-click="comment_functions.delete(comment)"
						ng-show="global_functions.isDeletable(comment) || user.admin">delete</button>
				</span>
			</div>
			
			<button class="btn btn-link" style="font-size:10px;" ng-click="commentFormOpen = !commentFormOpen">Write a new comment</button>

			<div ng-show="commentFormOpen">
			 	<div class="form-group">
			 		<textarea class="form-control" rows="2" id="comment_{{posting.id}}" value=""></textarea>
			 	</div>
			    <div class="form-group">
			    	<button class="btn btn-info btn-block" type="button" ng-click="comment_functions.create(posting)">Comment</button>
			    </div>
			</div>
		</div>
		<!-- /COMMENT -->
		
		<div class="posting_options clearfix">
			
			<div class="posting_time pull-left">
    			<span data-livestamp="{{time(posting.doc.created)}}" ng-show="posting_functions.showTimestamp(posting)=='today'"></span>
    			<span class="timestamp" ng-show="posting_functions.showTimestamp(posting)=='older'">{{time(posting.doc.created)*1000 | date:'medium'}}</span>
    			<span class="timestamp" ng-show="posting_functions.showTimestamp(posting)=='yesterday'">yesterday at {{time(posting.doc.created)*1000 | date:'mediumTime'}}</span>
   			</div>
   			
   			<ppnet-post-likes class="pull-right"></ppnet-post-likes>			
			
			<div class="posting_delete pull-right">
				<a href="javascript:void(0)" 
					ng-click="posting_functions.delete(posting)"
					ng-show="global_functions.isDeletable(posting) || user.admin"
				>delete</a>
			</div>
		</div>
	</div>
</section>
