<section id="admin-debug" ng-show="isAdmin" style="background: #363636; padding: 10px; margin: 10px 0;">
  <button class="btn btn-success btn-xs" type="button" ng-click="resetDatabase()">Reset Local DB</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="getDatabaseInfo()">DB Info</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="debugUserData()">Debug User Data</button>
  <button class="btn btn-success btn-xs" type="button" ng-click="debugGeolocation()">Geolocation</button>
</section>