@import "colors.less";
@import "elements.less";

@import "header.less";  
@import "posting.less";
@import "postingActions.less";



body{
  background:url(../img/app_bg.png);
}

section{
 padding:10px 0;
  background:@box_background;
  //.rounded(10px); 
}

.login {
  padding: 16px;
  background: @box_background;
}


.sidebar {
  background: @box_background;
  padding: 8px;
}



