@import "elements.less";

body{
  background:url(../img/app_bg.png);
}

section{
 padding:10px 0;
  background:#FFFFFF;
  //.rounded(10px); 
}

.login {
  padding: 16px;
  background: #ffffff;
}


.sidebar {
  background: #fff;
  padding: 8px;
}


@import "header.less";	
@import "posting.less";
@import "postingActions.less";
