@import "colors.less";
@import "elements.less";


body{
  background:url(../img/app_bg.png);
  //background: #575439;
  -webkit-font-smoothing: antialiased;
}

section{
  	//background:@primary_background;
  	//.rounded(10px); 
}

.login {
  padding: 16px;
  background: @primary_background;
}

textarea {
    resize: none;
}

.btn_small{
  width:30px;
  float:left;
  margin-right:10px;
}

.red{
  color:red;
}

@import "header.less";
@import "sidebar.less";
@import "posting.less";
@import "postingActions.less";
@import "timeline.less";
@import "mashup.less";
@import "bootstrap/bootstrap.less";
@import "bootstrap-social.less";
//@import "phonegap.less";

