.app_header{
  border-top: 15px solid @design_color;
  margin-bottom: 10px;
  
  .logo{
    height: 80px;
    text-align: center;
    img{
      height:60px;
    }
  }
}

/*
 *  ONLY FOR TABS
 */
.nav-tabs{
  padding-left: 20px;
}

.widget{
    padding: 10px 0;
    background: @primary_background;
    .label{
      color: @color_text;
    }
    
}

