
/* mashup view */
.mashup_wrapper .mashup_item {
    width: 94px;
    height: auto;
    cursor: pointer;
    transition: -webkit-transform 0.8s ease;
    padding: 3px;
}

.mashup_wrapper .mashup_item.highlight {
    width: 300px;
}

.mashup_wrapper .mashup_img {
    width: inherit;
    height: inherit;

    img {
        width: inherit;
        height: inherit;
        border: 1px solid @design_color;
        .rounded(3px);
    }
}

