.postings{
  margin: 10px 0;
  //padding: 8px 16px;
  
  .posting{
    margin:3px 0px;

    padding: 12px 16px 2px;
    background: #fff;
    .rounded(3px);

    .posting_name {
      font-weight:bold;
      color:@color_headline; 
      font-size:15px;
      display: inline-block;
    }
    .posting_msg{
      color:@color_text;
      font-size: 16px;
      margin: 12px 0;

      img {
        display: block;
        width: 100%;
        height: auto;
        padding: 2px;
        background: #535035;
        .rounded(3px);
        margin: 11px 0;
      }
    }
    .posting_hashtag{
      color:@color_hashtag;
      text-transform:uppercase;
    }
    .posting_time{
        font-size:12px;
        text-align: left;
        color:@color_info;
        display: inline-block;
    }
    
    .posting_options{
      font-size:10px;
      margin: 8px 0;
      text-align: right;
    }
  }
}


.hashtag_header {
  background: @brown;
  padding: 8px;
  color: white;
  font-size: 25px;
  font-weight: 200;

  a {
    color: @white;

    &:hover {
      text-decoration: none;
      color: @design_color;
    }
  }

  .go_back {
    padding: 0 6px;
    color: @white;
  }
}

.posting_comment {
  margin: 8px 0;
  color: #666;

  p {
    margin: 0;
  }

  .single_comment {
    margin: 2px 0;
    padding: 16px;
    .rounded(3px);
    background: #eee;

    &:last-child {
      border: 0;
      margin-bottom: 0;
    }

    .posting_msg {
      font-size: 14px;
      margin: 0;
    }
  }

  .comment_author {
    font-weight: bold;
  }

  .comment_meta {
    font-size: 12px;
    font-style: italic;

    .btn-link {
      font-size: 10px;
      padding: 0;
    }
  }
}