.postings{
  margin-top: 10px;
  padding: 8px 16px;
  
  .posting{
    border-bottom:1px dotted #d40055;
    margin:10px 0px;
    padding-bottom:10px;
    .posting_name{
      font-weight:bold;
      color:@color_headline; 
      font-size:15px;
    }
    .posting_msg{
      color:@color_text;
    }
    .posting_hashtag{
      color:@color_hashtag;
      text-transform:uppercase;
    }
    .posting_time{
        font-size:12px;
        color:@color_info;
    }
    
    .posting_options{
      font-size:10px;
      height:10px;
      div{
        margin-left:10px;
      }
      
    }
  }
}


.hashtag_header {
  background: @brown;
  padding: 8px;
  color: white;
  font-size: 25px;
  font-weight: 200;

  a {
    color: @white;

    &:hover {
      text-decoration: none;
      color: @design_color;
    }
  }

  .go_back {
    padding: 0 6px;
    color: @white;
  }
}