.sidebar {
  background: @primary_background;
  padding: 4px;
  .rounded(3px);

  .nav li a {
  	.rounded(3px);
  	&:hover {
  		color: @white;
  		background: @design_color;
  	}
  }

  .nav li.active a {
  	background: @design_color;
  }

  &.mobile {
    background: none;
    padding: 6px;

    .nav li a {
      color: @white;
      border-bottom: 1px solid @brown - #222;
      .rounded(0);
      font-size: 18px;
      padding: 12px;
    }
  }
}

.snap-drawer {
  .gradient(@brown, @brown, @brown - #111);
  border-right: 1px solid rgba(0,0,0,0.5);
}