<div class="col-xs-12">
  <div class="login" style="padding: 20px;">
    <h4>Simple Login</h4>
    <form ng-submit="simpleLogin()">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" ng-model="simple.name" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" placeholder="Phone ID" ng-model="simple.id" required>
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="col-xs-12">
  <div class="login" style="padding: 20px;">
    <button class='zocial secondary' ng-click="login()">LocalLogin</button>
    <button class='zocial secondary' onclick="hello('fiware').login()">FIWare</button>
  	<button class='zocial facebook' onclick="hello('facebook').login()">Facebook</button>
  	<button class='zocial googleplus' onclick="hello('google').login()">Google+</button>
  	<button class='zocial windows' onclick="hello('windows').login()">Windows</button>
  </div>
</div>