<div class="col-xs-12">
   
  <section class="clearfix">
    <div class="post single-view fx-fade-down fx-speed-400" ng-repeat="post in posts">
      <div class="main-content">

        <div class="author">{{post.doc.user.name || 'Anonymous'}}</div>
        <div class="post-time">
          <span ng-show="!toggleTimeVar" am-time-ago="post.doc.created" ng-click="toggleTime()"></span>
          <ppnet-post-fulltime ng-show="toggleTimeVar" class="post-fulltime" time="post.doc.created" ng-click="toggleTime()"></ppnet-post-fulltime>
        </div>

        <!-- POST CONTENT -->
        <div class="post-content">
          <div class="post-single-image" ng-show="loadedImage">
            <ppnet-post-image></ppnet-post-image>
          </div>
          <ppnet-post-formatted message="post.doc.msg"></ppnet-post-formatted>
        </div>
      </div>
      <ppnet-post-meta></ppnet-post-meta>
      <ppnet-post-comments></ppnet-post-comments>

    </div>
  </section>
  
</div>