<section class="postings clearfix" ng-init='global_functions.showWall()'>
	<h3 ng-show='global_functions.showLoader()' style="text-align: center; margin: 8px 0;"><i class="fa fa-refresh fa-spin"></i></h3>
	
	<!-- AB HIER DÜRFT IHR WERKELN -->
<!--
	<div class="posting col-xs-12" ng-repeat='posting in postings | orderBy: global_functions.orderByCreated: reverse=true'>
		
	</div>
--> 
		<div timeline="timeline" 
	     	 timeline-options="timelineoptions"
	     	 timeline-selection="timelineselection"
	     	 hm-swipe-up="timelineZoomIn()"
	     	 hm-swipe-down="timelineZoomOut()"
	     	 hm-double-tap="centerNow()"
	     	 ></div>

</section>
