.comments {
  .comment {
    @include display-box;
    margin-bottom: 10px;

    p {
      margin-bottom: 5px;
    }
  }
}

.new-comment {
  margin-bottom: 10px;

  textarea {
    @include border-radius(0);
    border-bottom: 0;
  }
  button {
    @include border-top-radius(0);
  }
}

.commentator-name {
  color: $secondary;
  display: inline-block;
}

.comment-time {
  display: inline-block;
  font-size: 9px;
  color: #999;
}

#post-comments {
  padding: 12px;
  background: #fff;

  @include border-radius($radius);
}

.avatar {
  margin-right: 5px;
}

.comment-content {
  @include box-flex(1);

  p {
    margin: 0;
  }
}