.stream{
  margin-bottom: 20px;
}

.post{
  margin-bottom: 6px;

  padding: 0;
  background: #fff;
  @include border-radius(5px);

  .main-content {
    padding: 10px 12px;
  }

  .post-content {
    p {
      margin-bottom: 5px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 200;
    }
  }

  .author {
    font-weight:bold;
    color: $color_headline; 
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }

  .post-time{
      display: inline-block;
      font-size: 10px;
      text-align: left;
      color: $color_info;
  }

  &.single-view {
    .post-content p {
      margin: 8px 0;
      font-size: 18px;
      line-height: 1.4;
    }

    .author {
      font-size: 20px;
    }

    .post-time {
      font-size: 12px;
    }
  }
}

.post-meta {
  border-top: 1px solid #eee;
  @include border-bottom-radius(5px);
  overflow: hidden;
  .nav-justified li {   
    display: table-cell!important;
    width: 1%!important;
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding: 2px;
      margin: 0;
      height: 34px;
      font-size: 11px;
      background: darken(#fff, 2%);
      line-height: 34px;
      color: #999;
      @include border-radius(0);
      border-right: 1px solid #eee;

      .fa-custom {
        font-size: 15px;
        margin-right: 5px;
      }
      &.isLiked {
        .fa-custom {
          color: #02c3fe;
        }
      }
    }

    &.medium {
      a {
        //font-size: 16px;
        .fa-custom {
          font-size: 19px;
        }
        &.isLiked {
          .fa-custom {
            color: #02c3fe;
          }
        }
      }        
    }
    &.big {
      a {
        //font-size: 18px;
        .fa-custom {
          font-size: 24px;
        }

        &.isLiked {
          .fa-custom {
            color: #02c3fe;
          }
        }
      }  
    }

    &:last-child a { border-right: 0; }
  }
}

.single-view {
  .post-meta {
    border-bottom: 1px solid #f6f6f6;
    @include border-radius(0);
  }
}