.stream{
  margin-bottom: 20px;
  //padding: 8px 16px;
  
  .post{
    margin-bottom: 6px;

    padding: 10px 12px;
    padding-bottom: 0px;
    background: #fff;
    @include border-radius(3px);

    .post-content {
      margin-bottom: 5px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 200;
    }

    .posting_name {
      font-weight:bold;
      color: $color_headline; 
      font-size: 14px;
      display: inline-block;
      line-height: 1;
    }

    .posting_hashtag{
      color: $color_hashtag;
      text-transform:uppercase;
    }
    .posting_time{
        font-size: 10px;
        text-align: left;
        color: $color_info;
        display: inline-block;
    }
    
    .posting_options{
      font-size:10px;
      margin: 8px 0;
      text-align: right;
    }
  }
}


.post-meta {
  .nav-justified li {
    display: table-cell!important;
    width: 1%!important;

    a {
      display: block;
      margin: 0;
      @include border-radius(0);
    }
  }
}


.likes {
  display: inline-block;
}

.like-button {
  font-size: 11px;
  padding: 3px 8px;
  color: #999;

  .fa {
    //color: #999;
    font-size: 12px;
  }

  &.active {
    color: #fff;
  }
}