<div class="col-xs-12">
  <div class="login" style="padding: 20px;">
    <button class='zocial secondary' ng-click="login()">LocalLogin</button>
    <button class='zocial secondary' onclick="hello('fiware').login()">FIWare</button>
  	<button class='zocial facebook' onclick="hello('facebook').login()">Facebook</button>
  	<button class='zocial googleplus' onclick="hello('google').login()">Google+</button>
  	<button class='zocial windows' onclick="hello('windows').login()">Windows</button>
  </div>
</div>