<div class="col-xs-12" ng-show="LoginData.fingerprintjs">
    <div class="login" style="padding: 20px;">
        <h4>Username</h4>
        <form ng-submit="fingerprintjsLogin()">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Just enter any name here." alt="This login is done through a unique ID which will be created based on your browser and environment. That's why you can chose any name you want." ng-model="simple.name" required>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>


<div class="col-xs-12" ng-show="LoginData.simplelogin">
    <div class="login" style="padding: 20px;">
        <h4>Username and ID</h4>
        <form ng-submit="simpleLogin()">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Just enter any name here." ng-model="simple.name" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="number" placeholder="Phone ID" ng-model="simple.id" required>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>



<div class="col-xs-12" ng-show="LoginData.hellojs.fiware || LoginData.hellojs.facebook">
    <div class="login" style="padding: 20px;">

        <!--  PHONEGAP -->
        <div>

            <div class="row">
                <div class="col-sm-6" ng-show="LoginData.hellojs.fiware">
                    <div ng-show="isCordovaApp" class="fiware" onclick="hello_phonegap('fiware').login()"><i class="fiwareicn"></i>FIWare</div>
                    <div ng-show="!isCordovaApp" class="fiware" onclick="hello('fiware').login()"><i class="fiwareicn"></i>FIWare</div>


                </div>


                <div class="col-sm-6" ng-show="LoginData.hellojs.facebook">
                    <div ng-show="isCordovaApp" class="facebook" onclick="hello_phonegap('facebook').login()"><i class="facebookicn"></i>facebook</div>
                    <div ng-show="!isCordovaApp" class="facebook" onclick="hello('facebook').login()"><i class="facebookicn"></i>facebook</div>

                </div>

            </div>
        </div>

    </div>
</div>

