<section class="map-content">
  <div class="dropdown channel-dropdown" ng-show="channels.length > 1">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
      Channel: {{getCurrentChannel()}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li ng-repeat="channel in channels" role="presentation"><a ng-bind="channel" ng-click="switchChannel(channel)"></a></li>
    </ul>
  </div>
  <div id="map" class="clearfix col-md-12">
    <div class="map" style="height:200px;"></div>
  </div>
</section>