<div class="col-xs-12">
    <div ng-include="'views/partials/channelSwitch.html'"></div>
</div>
<div class="col-xs-12">
    <div class="post-action-wrapper">
        <div class="post-actions">
            <section class="new-post-something" >
                <form ng-submit="search()" class="row">
                    <div class="search-box col-xs-8">

                        <div class="post-text">
                            <input type="text" class="form-control" id="newPostContent" ng-model="model_search" row="1" placeholder="Search for text or usernames!" ng-required />
                        </div>
                    </div>
                    <div class="search-submit col-xs-4">
                        <canvas style="display: none;" id="preview-canvas" width="800" height="600"></canvas>
                        <button class="btn btn-info btn-block" type="submit" ng-disabled="!model_search">Search</button>
                    </div>

                </form>

            </section>

        </div>
    </div>
</div>
<div class="col-xs-12">
    <hr>
    <section class="headline_box">
        <h3 ng-show="found > 0">{{found}} result<span ng-show="found > 1">s</span> found for "{{model_search}}"</h3>
        <h3 ng-show="found === 0">No results found for "{{model_search}}"</h3>
    </section>
</div>
<div class="col-xs-12">
    <section class="stream clearfix">
        <div class="post fx-fade-down fx-speed-400" ng-repeat="post in posts| orderBy: 'doc.created':true" >
            <div ng-include="'views/partials/post.html'"></div>
        </div>
    </section>
</div>