<div class="col-xs-12">
   
  <section class="clearfix">
    <div class="post single-view fx-fade-down" ng-repeat="post in posts">
      <div class="main-content">
        <!--DEBUG <pre>{{post.doc.msg | json}}</pre>-->
        <div class="author">{{post.doc.user.name || 'Anonymous'}}</div>
        <div class="post-time">{{post.doc.created | date}}</div>

        <!-- POST CONTENT -->
        <div class="post-content">
          <ppnet-post-formatted message="post.doc.msg"></ppnet-post-formatted>
        </div>
      </div>

      <ppnet-post-meta></ppnet-post-meta>

      <ppnet-post-comments></ppnet-post-comments>

    </div>
  </section>
  
</div>