<div class="col-xs-12">
  <div class="dropdown channel-dropdown"  ng-show="channels.length > 1">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Channel: {{getCurrentChannel()}}
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="channel in channels" role="presentation"><a ng-bind="channel" ng-click="switchChannel(channel)"></a></li>
      </ul>
  </div>
  
  <div class="user-avatar">
    <img src="http://placehold.it/150x150" alt="">
  </div>
  <div class="user-name" ng-show="userName">Name: {{userName}}</div>
  <div class="user-name">ID: {{userId}}</div>
  <!--div class="user-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, asperiores, minus, rerum possimus cupiditate ducimus atque at excepturi nihil ab vitae voluptates molestiae voluptatem laborum itaque aspernatur porro odio ut!
  </div-->
  <hr>

  <div ng-repeat="post in posts | orderBy: 'doc.created':true">
    <div ng-include="'views/partials/post.html'" class="post"></div>
  </div>
</div>