.app_header {
  border-top: 15px solid #bf004d;
  margin-bottom: 10px;
}
.app_header .logo {
  height: 80px;
  text-align: center;
}
/*
 *  ONLY FOR TABS
 */
.nav-tabs {
  padding-left: 20px;
}
.widget {
  padding: 10px 0;
  background: #ffffff;
}
.widget .label {
  color: #333333;
}
.postings {
  margin-top: 10px;
  padding: 8px 16px;
}
.postings .posting {
  border-bottom: 1px dotted #d40055;
  margin: 10px 0px;
  padding-bottom: 10px;
}
.postings .posting .posting_name {
  font-weight: bold;
  color: #bf004d;
  font-size: 15px;
}
.postings .posting .posting_msg {
  color: #333333;
}
.postings .posting .posting_hashtag {
  color: #0099ff;
  text-transform: uppercase;
}
.postings .posting .posting_time {
  font-size: 12px;
  color: #7f7f7f;
}
.postings .posting .posting_options {
  font-size: 10px;
  height: 10px;
}
.postings .posting .posting_options div {
  margin-left: 10px;
}
.app_action_wrapper.sticky {
  position: fixed;
  top: 0;
  left: 15px;
  right: 15px;
  z-index: 1000;
  border-bottom: 1px solid #d40055;
}
.sticky-wrapper .stuck {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.sticky-wrapper .stuck .app_actions {
  border-bottom: 1px solid #d40055;
}
@media (max-width: 769px) {
  .sticky-wrapper .stuck {
    right: 0;
    left: 0;
  }
}
@media (min-width: 770px) {
  .sticky-wrapper .stuck {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .sticky-wrapper .stuck {
    width: 616px;
  }
}
@media (min-width: 1200px) {
  .sticky-wrapper .stuck {
    width: 750px;
  }
}
.posting_menu {
  padding: 4px;
  background: #d40055;
}
.posting_menu li a {
  color: #fff;
  margin-bottom: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.posting_menu li a:hover {
  background: #fff;
  color: #000;
}
.posting_menu li.active a {
  background: #fff;
  color: #d40055;
}
.posting_menu li.active a:hover {
  background: #fff;
  color: #d40055;
}
.posting_menu .nav-justified li {
  display: table-cell !important;
  width: 1%!important;
}
.app_actions {
  padding: 16px 8px 0;
  margin-top: -4px;
  background: #fff;
}
body {
  background: url(../img/app_bg.png);
}
section {
  padding: 10px 0;
  background: #ffffff;
}
.login {
  padding: 16px;
  background: #ffffff;
}
.sidebar {
  background: #ffffff;
  padding: 8px;
}
