body {
  background: url(../img/app_bg.png);
  -webkit-font-smoothing: antialiased;
}
.login {
  padding: 16px;
  background: #ffffff;
}
.app_header {
  border-top: 15px solid #bf004d;
  margin-bottom: 10px;
}
.app_header .logo {
  height: 80px;
  text-align: center;
  padding: 14px 0;
}
.app_header .logo img {
  height: 60px;
}
.sidebar {
  background: #ffffff;
  padding: 4px;
}
.sidebar .nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.sidebar .nav li a:hover {
  color: #ffffff;
  background: #bf004d;
}
.sidebar .nav li.active a {
  background: #bf004d;
}
.postings {
  margin: 10px 0;
}
.postings .posting {
  margin: 3px 0px;
  padding: 12px 16px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.postings .posting .posting_name {
  font-weight: bold;
  color: #bf004d;
  font-size: 15px;
  display: inline-block;
}
.postings .posting .posting_msg {
  color: #333333;
  font-size: 16px;
}
.postings .posting .posting_msg img {
  display: block;
  width: 100%;
  height: auto;
  padding: 2px;
  background: #535035;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 11px 0;
}
.postings .posting .posting_hashtag {
  color: #0099ff;
  text-transform: uppercase;
}
.postings .posting .posting_time {
  font-size: 12px;
  text-align: left;
  color: #7f7f7f;
  display: inline-block;
}
.postings .posting .posting_options {
  font-size: 10px;
  margin: 8px 0;
  text-align: left;
}
.hashtag_header {
  background: #535035;
  padding: 8px;
  color: white;
  font-size: 25px;
  font-weight: 200;
}
.hashtag_header a {
  color: #ffffff;
}
.hashtag_header a:hover {
  text-decoration: none;
  color: #bf004d;
}
.hashtag_header .go_back {
  padding: 0 6px;
  color: #ffffff;
}
.posting_comment {
  margin: 8px 0;
  color: #666;
}
.posting_comment p {
  margin: 0;
}
.posting_comment .single_comment {
  margin: 2px 0;
  padding: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
}
.posting_comment .single_comment:last-child {
  border: 0;
  margin-bottom: 0;
}
.posting_comment .single_comment .posting_msg {
  font-size: 14px;
}
.posting_comment .comment_author {
  font-weight: bold;
}
.posting_comment .comment_meta {
  font-size: 12px;
  font-style: italic;
}
.posting_comment .comment_meta .btn-link {
  font-size: 10px;
  padding: 0;
}
.sticky-wrapper {
  /*
  @media (max-width: 769px){
    .stuck {
      right: 0;
      left: 0;
    }
  }
  @media (min-width: 770px){
    .stuck {
      width: 720px;
    }
  }
  @media (min-width: 992px){
    .stuck {
      width: 617px;
    }
  }
  @media (min-width: 1200px){
    .stuck {
      width: 750px;
    }
  }*/

}
.sticky-wrapper .stuck {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.sticky-wrapper .stuck .app_actions {
  border-bottom: 1px solid #d40055;
}
.posting_menu {
  padding: 4px;
  background: #d40055;
}
.posting_menu .row {
  margin: 0;
}
.posting_menu .nav-tabs {
  padding-left: 20px;
}
.posting_menu li a {
  color: #fff;
  margin-bottom: 0!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.posting_menu li a:hover {
  background: #fff;
  color: #000;
}
.posting_menu li.active a {
  background: #fff;
  color: #d40055;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.posting_menu li.active a:hover {
  background: #fff;
  color: #d40055;
}
.posting_menu .nav-justified li {
  display: table-cell !important;
  width: 1%!important;
}
.app_actions {
  padding: 16px 8px 0;
  margin-top: -7px;
  background: #fff;
}
.app_actions .row {
  margin: 0;
}
