body {
  background: url(../img/app_bg.png);
  -webkit-font-smoothing: antialiased;
}
.login {
  padding: 16px;
  background: #ffffff;
}
textarea {
  resize: none;
}
.btn_small {
  width: 30px;
  float: left;
  margin-right: 10px;
}
.red {
  color: red;
}
.header_toggle_menu {
  background: #bf004d;
  padding: 0px;
  color: white;
}
.header_toggle_menu button {
  color: #fff;
}
.header_toggle_menu button:hover,
.header_toggle_menu button:focus {
  color: #eee;
  outline: none;
}
.header_toggle_menu button:focus {
  text-shadow: #fff 0 0 10px;
}
.header_toggle_menu .logo {
  display: inline-block;
  height: 30px;
  float: right;
  padding: 7px 0;
  padding-right: 7px;
}
.header_toggle_menu .logo img {
  height: 30px;
}
.app_header {
  margin-bottom: 10px;
  border-top: 15px solid #bf004d;
}
.app_header .logo {
  height: 80px;
  text-align: center;
  padding: 14px 0;
}
.app_header .logo img {
  height: 60px;
}
.sidebar {
  background: #ffffff;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .nav li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .nav li a:hover {
  color: #ffffff;
  background: #bf004d;
}
.sidebar .nav li.active a {
  background: #bf004d;
}
.sidebar.mobile {
  background: none;
  padding: 6px;
}
.sidebar.mobile .nav li a {
  color: #ffffff;
  border-bottom: 1px solid #312e13;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 18px;
  padding: 12px;
}
.snap-drawer {
  background: #535035;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #535035), color-stop(1, #423f24));
  background: -ms-linear-gradient(bottom, #535035, #423f24);
  background: -moz-linear-gradient(center bottom, #535035 0%, #423f24 100%);
  background: -o-linear-gradient(#423f24, #535035);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#423f24', endColorstr='#535035', GradientType=0);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.postings {
  margin-bottom: 20px;
}
.postings .posting {
  margin-bottom: 6px;
  padding: 12px 16px 2px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.postings .posting .posting_name {
  font-weight: bold;
  color: #bf004d;
  font-size: 15px;
  display: inline-block;
}
.postings .posting .posting_msg,
.postings .posting .posting_img {
  color: #333333;
  font-size: 16px;
  margin: 12px 0;
}
.postings .posting .posting_msg img,
.postings .posting .posting_img img {
  display: block;
  width: auto;
  height: 120px;
  padding: 2px;
  background: #535035;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 11px 0;
}
.postings .posting .posting_hashtag {
  color: #0099ff;
  text-transform: uppercase;
}
.postings .posting .posting_time {
  font-size: 12px;
  text-align: left;
  color: #7f7f7f;
  display: inline-block;
}
.postings .posting .posting_options {
  font-size: 10px;
  margin: 8px 0;
  text-align: right;
}
.hashtag_header {
  color: white;
}
.hashtag_header h3 {
  color: #bf004d;
  vertical-align: middle;
}
.posting_comment {
  margin: 8px 0;
  color: #666;
}
.posting_comment p {
  margin: 0;
}
.posting_comment .single_comment {
  position: relative;
  margin: 2px 0;
  padding: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
}
.posting_comment .single_comment:last-child {
  border: 0;
  margin-bottom: 0;
}
.posting_comment .single_comment .posting_msg {
  font-size: 14px;
  margin: 0;
}
.posting_comment .comment_author {
  font-weight: bold;
}
.posting_comment .comment_meta {
  font-size: 12px;
  font-style: italic;
}
.posting_comment .comment_meta .btn-link {
  font-size: 10px;
  padding: 0;
}
.posting_comment .comment_delete {
  position: absolute;
  top: 6px;
  right: 6px;
}
.posting_menu {
  padding: 4px;
  border-top: 1px solid #fff;
  background: #bf004d;
}
.posting_menu .row {
  margin: 0;
}
.posting_menu .nav-tabs {
  padding-left: 20px;
}
.posting_menu li a {
  color: #fff;
  margin-bottom: 0!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.posting_menu li a:hover {
  background: none;
  color: #fff;
}
.posting_menu li a:focus {
  background: #fff;
}
.posting_menu li.active a {
  background: #fff;
  color: #d40055;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.posting_menu li.active a:hover {
  background: #fff;
  color: #d40055;
}
.posting_menu .nav-justified li {
  display: table-cell !important;
  width: 1%!important;
}
.app_actions {
  padding: 16px 8px 0;
  margin-top: -7px;
  background: #fff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.app_actions .row {
  margin: 0;
}
.phonegap {
  padding: 0;
}
@media (max-width: 991px) {
  .nophonegap {
    margin-top: 6px;
  }
}
.nophonegap .posting_menu {
  border-top: 0;
}
.ppnet-posting-actions {
  margin-bottom: 6px;
}
@media (min-width: 992px) {
  .desktop-only {
    display: none;
  }
}
div.timeline-frame {
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #bebebe;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
a div.timeline-content {
  overflow: hidden;
  position: relative;
}
div.timeline-axis {
  -moz-box-sizing: border-box;
  border-color: #bebebe;
  border-top-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
div.timeline-axis-grid {
  -moz-box-sizing: border-box;
  border-left-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
div.timeline-axis-grid-minor {
  border-color: #e5e5e5;
}
div.timeline-axis-grid-major {
  border-color: #bfbfbf;
}
div.timeline-axis-text {
  color: #161616;
  font-size: 16px;
  padding: 3px;
  white-space: nowrap;
}
div.timeline-event {
  -moz-box-sizing: border-box;
  background-color: #F7F7F7;
  border-color: #bf004d;
  box-sizing: border-box;
  color: #1a1a1a;
  display: inline-block;
}
div.timeline-event img {
  width: auto;
  height: 60px;
}
div.timeline-event-selected {
  background-color: #bf004d;
  border-color: #535035;
  color: #ffffff;
  z-index: 999;
}
/* TODO: use another color or pattern? */
div.timeline-event-cluster {
  background: #bf004d;
  color: #ffffff;
}
div.timeline-event-cluster div.timeline-event-dot {
  border-color: #d5ddf6;
}
div.timeline-event-box {
  -moz-border-radius: 5px;
  /* For Firefox 3.6 and older */
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
div.timeline-event-dot {
  -moz-border-radius: 5px;
  /* For Firefox 3.6 and older */
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
}
div.timeline-event-range {
  -moz-border-radius: 2px;
  /* For Firefox 3.6 and older */
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
}
div.timeline-event-range-drag-left {
  cursor: w-resize;
  z-index: 1000;
}
div.timeline-event-range-drag-right {
  cursor: e-resize;
  z-index: 1000;
}
div.timeline-event-line {
  -moz-box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 1px;
  box-sizing: border-box;
}
div.timeline-event-content {
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
}
div.timeline-groups-axis {
  -moz-box-sizing: border-box;
  border-color: #bebebe;
  border-width: 1px;
  box-sizing: border-box;
}
div.timeline-groups-axis-onleft {
  border-style: none solid none none;
}
div.timeline-groups-axis-onright {
  border-style: none none none solid;
}
div.timeline-groups-text {
  color: #4d4d4d;
  padding-left: 10px;
  padding-right: 10px;
}
div.timeline-currenttime {
  -moz-box-sizing: border-box;
  background-color: #ff7f6e;
  box-sizing: border-box;
  width: 2px;
}
div.timeline-customtime {
  -moz-box-sizing: border-box;
  background-color: #6e94ff;
  box-sizing: border-box;
  cursor: move;
  width: 2px;
}
div.timeline-navigation {
  -moz-border-radius: 2px;
  /* For Firefox 3.6 and older */
  -moz-box-sizing: border-box;
  background-color: #f5f5f5;
  border: 1px solid #bebebe;
  border-radius: 2px;
  box-sizing: border-box;
  color: #808080;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
}
div.timeline-navigation-new,
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 36px;
  padding: 10px;
  text-decoration: none;
  width: 36px;
}
div.timeline-navigation-new {
  background: url('img/16/new.png') no-repeat center;
}
/* separator between new and navigation buttons */
div.timeline-navigation-new-line {
  border-right: 1px solid #bebebe;
}
div.timeline-navigation-delete {
  background: url('img/16/delete.png') no-repeat center;
}
div.timeline-navigation-zoom-in {
  background: url('img/16/zoomin.png') no-repeat center;
}
div.timeline-navigation-zoom-out {
  background: url('img/16/zoomout.png') no-repeat center;
}
div.timeline-navigation-move-left {
  background: url('img/16/moveleft.png') no-repeat center;
}
div.timeline-navigation-move-right {
  background: url('img/16/moveright.png') no-repeat center;
}
/* mashup view */
.mashup_wrapper .mashup_item {
  width: 94px;
  height: auto;
  cursor: pointer;
  transition: -webkit-transform 0.8s ease;
  padding: 3px;
}
.mashup_wrapper .mashup_item.highlight {
  width: 300px;
}
.mashup_wrapper .mashup_img,
.mashup_wrapper img {
  width: 100%;
  height: inherit;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #999;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.mashup-item {
  z-index: 2;
}
.isotope-hidden.mashup-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
