.app_header {
  border-top: 15px solid #d40055;
  margin-bottom: 10px;
}
.app_header .logo {
  height: 80px;
  text-align: center;
}
.app_header .logo img {
  margin-top: 10px;
}
@media screen and (max-width: 749px) {
  .app_action_wrapper.sticky {
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 1000;
    border-bottom: 1px solid #d40055;
  }
}
.app_menu {
  padding: 4px;
  background: #d40055;
}
.app_menu li a {
  color: #fff;
  margin-bottom: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.app_menu li a:hover {
  background: #fff;
  color: #000;
}
.app_menu li.active a {
  background: #fff;
  color: #d40055;
}
.app_menu li.active a:hover {
  background: #fff;
  color: #d40055;
}
.app_menu .nav-justified li {
  display: table-cell !important;
  width: 1%!important;
}
.app_actions {
  padding: 16px 8px 0;
  margin-top: -4px;
  background: #fff;
  opacity: 100;
}
/*
 *  ONLY FOR TABS
 */
.nav-tabs {
  padding-left: 20px;
}
.widget {
  padding: 10px 0;
  background: #FFFFFF;
}
.widget .label {
  color: #000000;
}
