.postings {
  margin-top: 10px;
  padding: 8px 16px;
}
@media screen and (max-width: 749px) {
  .postings.sticky {
    margin-top: 200px;
  }
}
.postings .posting {
  border-bottom: 1px dotted #d40055;
  margin: 10px 0px;
  padding-bottom: 10px;
}
.postings .posting .posting_name {
  font-weight: bold;
  color: #d40055;
  font-size: 14px;
}
.postings .posting .posting_msg {
  color: #333333;
}
.postings .posting .posting_options {
  font-size: 10px;
  height: 10px;
}
.postings .posting .posting_options div {
  margin-left: 10px;
}
.postings .posting .posting_options .posting_time {
  color: #999999;
}
