.postings {
  margin-top: 10px;
  padding: 8px 16px;
}
@media screen and (max-width: 749px) {
  .postings.sticky {
    margin-top: 200px;
  }
}
.postings .posting {
  border: 1px solid green;
  margin: 10px 0px;
}
